<app-top-bar></app-top-bar>
<div class="content">
  <app-transaction-card
    transactionName="Supermercado"
    transactionValue="R$ 276,92"
    transactionType="expense"
  ></app-transaction-card>
  <app-transaction-card
    transactionName="Salário"
    transactionValue="R$ 2.500,00"
    transactionType="income"
  ></app-transaction-card>
  <app-transaction-card
    transactionName="Internet"
    transactionValue="R$ 119,90"
    transactionType="expense"
  ></app-transaction-card>
  <app-transaction-card
    transactionName="Luz"
    transactionValue="R$ 216,57"
    transactionType="expense"
  ></app-transaction-card>
  <app-transaction-card
    transactionName="Luz"
    transactionValue="R$ 216,57"
    transactionType="expense"
  ></app-transaction-card>
  <app-transaction-card
    transactionName="Luz"
    transactionValue="R$ 216,57"
    transactionType="expense"
  ></app-transaction-card>
  <app-transaction-card
    transactionName="Luz"
    transactionValue="R$ 216,57"
    transactionType="expense"
  ></app-transaction-card>
  <app-transaction-card
    transactionName="Luz"
    transactionValue="R$ 216,57"
    transactionType="expense"
  ></app-transaction-card>
  <app-transaction-card
    transactionName="Luz"
    transactionValue="R$ 216,57"
    transactionType="expense"
  ></app-transaction-card>
</div>

<footer>
  <app-footer></app-footer>
</footer>