.card {
  border-radius: 10px;
  box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.73);

  background-color: azure;

  display: flex;
  flex-direction: row;

  align-items: center;

  padding: 1.5rem 1rem;
  margin: 0px 10px;
}

.card__transaction-icon {
  color: green;
  font-weight: bold;
  width: 48px;
  height: 48px;
  font-size: 3rem;
}

.card__details-icon {
  margin-left: auto;
  color: grey;
  width: 48px;
  height: 48px;
  font-size: 3rem;
}

.card__transaction-info {
  margin-left: 20px;
  max-width: 60%;
}

.transaction-info__name {
  font-size: 1.1rem;
  color: grey;
}

.transaction-info__value {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.income {
  color: green;
}

.expense {
  color: red;
}
