.footer {
  margin-top: 20px;
  background-color: azure;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 10px 0px;
}

.list-title {
  font-size: 16px;
  font-weight: 500;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
  color: #112732;
}

.footer__bottom {
  padding: 5px 0px;
  text-align: center;
}

.footer__bottom__copyright {
  font-size: 0.7rem;
  color: #112732;
}