<div class="footer">
  <div class="footer__top">
    <div class="footer__top__contact">
      <div class="list-title">Contact</div>
      <ul class="list">
        <li class="list__item"><a href="https://github.com/Edson-Mendes">GitHub</a></li>
        <li class="list__item"><a href="https://www.linkedin.com/in/edsonlmendes/">LinkedIn</a></li>
        <li class="list__item"><a href="mailto:edson.luiz.mendes@hotmail.com">Email</a></li>
      </ul>
    </div>
    <div class="footer__top__nav-app">
      <div class="list-title">Inside app</div>
      <ul class="list">
        <li class="list__item"><a [routerLink]="['home']">Home</a></li>
        <li class="list__item"><a [routerLink]="['transactions']">Transactions</a></li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <span class="footer__bottom__copyright"
      >© 2023 Edson Mendes. All Rights Reserved</span
    >
  </div>
</div>
