<div class="footer">
  <div class="footer__top">
    <div class="footer__top__contact">
      <div class="list-title">Contact</div>
      <ul class="list">
        <li class="list__item">GitHub</li>
        <li class="list__item">LinkedIn</li>
        <li class="list__item">Email</li>
      </ul>
    </div>
    <div class="footer__top__nav-app">
      <div class="list-title">Inside app</div>
      <ul class="list">
        <li class="list__item">Home</li>
        <li class="list__item">Transactions</li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <span class="footer__bottom__copyright"
      >© 2023 Edson Mendes. All Rights Reserved</span
    >
  </div>
</div>
